In [ ]:
import numpy as np
import pandas as pd
import datetime
import codecs
import warnings

from google.colab import drive
drive.mount('/content/drive/')

warnings.filterwarnings('ignore')

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [ ]:
!ls "/content/drive/My Drive/Colab Notebooks/minato6"

minato6_2.ipynb			   minato6.ipynb
minato6ap.ipynb			   minato6_katu.ipynb
minato6-ap-my-experiment-file.csv  minato6-mp-my-experiment-file.csv

 dtype={'CSI_DATA': int}
 dtype={'CSI_DATA': int}

In [ ]:
with codecs.open("/content/drive/My Drive/Colab Notebooks/minato6/minato6-ap-my-experiment-file.csv", "r", "Shift-JIS", "ignore") as file:
    minato6ap = pd.read_csv(file, delimiter=",", error_bad_lines=False,)
minato6ap = minato6ap.dropna()
minato6ap['datetime_timestamp'] = list(map(datetime.datetime.fromtimestamp, minato6ap.timestamp))

minato6mp = pd.read_csv('/content/drive/My Drive/Colab Notebooks/minato6/minato6-mp-my-experiment-file.csv', error_bad_lines=False, )
minato6mp = minato6mp.dropna()
minato6mp["datetime_timestamp"] = list(map(datetime.datetime.fromtimestamp, minato6mp.timestamp))

b'Skipping line 55443: expected 27 fields, saw 52\n'
b'Skipping line 238418: expected 27 fields, saw 54\nSkipping line 245263: expected 27 fields, saw 52\n'
b'Skipping line 262727: expected 27 fields, saw 47\nSkipping line 266444: expected 27 fields, saw 52\nSkipping line 266464: expected 27 fields, saw 52\nSkipping line 266523: expected 27 fields, saw 52\nSkipping line 268624: expected 27 fields, saw 52\nSkipping line 271180: expected 27 fields, saw 52\n'
b'Skipping line 27145: expected 27 fields, saw 52\n'
b'Skipping line 332679: expected 27 fields, saw 52\n'

In [ ]:
minato6ap.head(5)

       type role  ...     timestamp         datetime_timestamp
0  CSI_DATA   AP  ...  1.607921e+09 2020-12-14 04:49:46.896088
1  CSI_DATA   AP  ...  1.607921e+09 2020-12-14 04:50:33.066136
2  CSI_DATA   AP  ...  1.607921e+09 2020-12-14 04:50:41.440723
3  CSI_DATA   AP  ...  1.607921e+09 2020-12-14 04:51:04.496528
4  CSI_DATA   AP  ...  1.607921e+09 2020-12-14 04:51:14.098921

[5 rows x 28 columns]

In [ ]:
minato6ap.tail(5)

            type role  ...     timestamp         datetime_timestamp
273969  CSI_DATA   AP  ...  1.607926e+09 2020-12-14 06:11:14.832194
273970  CSI_DATA   AP  ...  1.607926e+09 2020-12-14 06:11:14.835263
273971  CSI_DATA   AP  ...  1.607926e+09 2020-12-14 06:11:14.841395
273972  CSI_DATA   AP  ...  1.607926e+09 2020-12-14 06:11:14.844131
273973  CSI_DATA   AP  ...  1.607926e+09 2020-12-14 06:12:59.061302

[5 rows x 28 columns]

In [ ]:
minato6mp.head(5)

       type role  ...     timestamp         datetime_timestamp
0  CSI_DATA  STA  ...  1.607922e+09 2020-12-14 04:53:21.242887
1  CSI_DATA  STA  ...  1.607922e+09 2020-12-14 04:53:21.247340
2  CSI_DATA  STA  ...  1.607922e+09 2020-12-14 04:53:22.215996
3  CSI_DATA  STA  ...  1.607922e+09 2020-12-14 04:53:22.236645
4  CSI_DATA  STA  ...  1.607922e+09 2020-12-14 04:53:22.242579

[5 rows x 28 columns]

In [ ]:
minato6mp.tail(5)

            type role  ...     timestamp         datetime_timestamp
358565  CSI_DATA  STA  ...  1.607926e+09 2020-12-14 06:12:30.297810
358566  CSI_DATA  STA  ...  1.607926e+09 2020-12-14 06:12:30.310260
358567  CSI_DATA  STA  ...  1.607926e+09 2020-12-14 06:12:30.315842
358568  CSI_DATA  STA  ...  1.607926e+09 2020-12-14 06:12:30.320942
358569  CSI_DATA  STA  ...  1.607926e+09 2020-12-14 06:12:30.324827

[5 rows x 28 columns]

In [ ]:
print(len(minato6ap),len(minato6mp))

273972 358567

13:56 22933 
13:57 27048
13:59 39203

14:00 45479
47682
49889
14:01  52383
53730
55192
56851
14:03 65382
16:08 87389
１４：４５　２００９２２
１４：５０　230637
14:55 260027
15:00 281502
15:02 290055
15:03 293543
15:04 302905
15:09 337340

14:02.216931 16人
14:07 23人
14:10 23人
14:15 28人
14:20 29人 
14:25 24人
14:30 19 人
14:35 18人
14:40 17人
14'45 21人
14:50 20人
14:55 29人
15:00 27人


15:01 - 上に持っていく
15:05 22 人
15:10 20人

終了

In [ ]:
minato6ap.columns

Index(['type', 'role', 'mac', 'rssi', 'rate', 'sig_mode', 'mcs', 'bandwidth',
       'smoothing', 'not_sounding', 'aggregation', 'stbc', 'fec_coding', 'sgi',
       'noise_floor', 'ampdu_cnt', 'channel', 'secondary_channel',
       'local_timestamp', 'ant', 'sig_len', 'rx_state', 'real_time_set',
       'real_timestamp', 'len', 'CSI_DATA', 'timestamp', 'datetime_timestamp'],
      dtype='object')

In [ ]:
minato6ap.dtypes

type                          object
role                          object
mac                           object
rssi                           int64
rate                          object
sig_mode                     float64
mcs                          float64
bandwidth                    float64
smoothing                    float64
not_sounding                 float64
aggregation                  float64
stbc                         float64
fec_coding                   float64
sgi                          float64
noise_floor                  float64
ampdu_cnt                    float64
channel                      float64
secondary_channel            float64
local_timestamp              float64
ant                          float64
sig_len                      float64
rx_state                     float64
real_time_set                float64
real_timestamp                object
len                          float64
CSI_DATA                      object
timestamp                    float64
datetime_timestamp    datetime64[ns]
dtype: object

In [ ]:
ap = minato6ap[['datetime_timestamp','CSI_DATA','len']]
mp = minato6mp[['datetime_timestamp','CSI_DATA','len']]
ap_timestamp = ap['datetime_timestamp'].to_numpy()
mp_timestamp = mp['datetime_timestamp'].to_numpy()

In [ ]:
ap.dtypes

datetime_timestamp    datetime64[ns]
CSI_DATA                      object
len                          float64
dtype: object

In [ ]:
mp.dtypes

datetime_timestamp    datetime64[ns]
CSI_DATA                      object
len                          float64
dtype: object

In [ ]:
idx = np.searchsorted(ap_timestamp, mp_timestamp) - 1
mask = idx >= 0

df = pd.DataFrame({"ap_timestamp":ap_timestamp[idx][mask], "mp_timestamp":mp_timestamp[mask]})

In [ ]:
df.head()

                ap_timestamp               mp_timestamp
0 2020-12-14 04:53:20.216931 2020-12-14 04:53:21.242887
1 2020-12-14 04:53:20.216931 2020-12-14 04:53:21.247340
2 2020-12-14 04:53:20.216931 2020-12-14 04:53:22.215996
3 2020-12-14 04:53:20.216931 2020-12-14 04:53:22.236645
4 2020-12-14 04:53:20.216931 2020-12-14 04:53:22.242579

In [ ]:
df.tail()

                     ap_timestamp               mp_timestamp
358562 2020-12-14 06:11:14.844131 2020-12-14 06:12:30.297810
358563 2020-12-14 06:11:14.844131 2020-12-14 06:12:30.310260
358564 2020-12-14 06:11:14.844131 2020-12-14 06:12:30.315842
358565 2020-12-14 06:11:14.844131 2020-12-14 06:12:30.320942
358566 2020-12-14 06:11:14.844131 2020-12-14 06:12:30.324827

timestampが14:02 - 15:10 のもの以外は消す
15:00 - 15:10 のものは分ける。

In [ ]:
df

                     ap_timestamp               mp_timestamp
0      2020-12-14 04:53:20.216931 2020-12-14 04:53:21.242887
1      2020-12-14 04:53:20.216931 2020-12-14 04:53:21.247340
2      2020-12-14 04:53:20.216931 2020-12-14 04:53:22.215996
3      2020-12-14 04:53:20.216931 2020-12-14 04:53:22.236645
4      2020-12-14 04:53:20.216931 2020-12-14 04:53:22.242579
...                           ...                        ...
358562 2020-12-14 06:11:14.844131 2020-12-14 06:12:30.297810
358563 2020-12-14 06:11:14.844131 2020-12-14 06:12:30.310260
358564 2020-12-14 06:11:14.844131 2020-12-14 06:12:30.315842
358565 2020-12-14 06:11:14.844131 2020-12-14 06:12:30.320942
358566 2020-12-14 06:11:14.844131 2020-12-14 06:12:30.324827

[358567 rows x 2 columns]

In [ ]:
ap.columns = ['ap_timestamp', 'CSI_ap','len_ap']
mp.columns = ['mp_timestamp', 'CSI_mp','len_mp']
join_data_1 = pd.merge(df, ap, on='ap_timestamp', how='left')
join_data_2 = pd.merge(join_data_1, mp, on='mp_timestamp', how='left')
join_data = join_data_2[['ap_timestamp', 'mp_timestamp', 'CSI_ap','CSI_mp','len_ap','len_mp',]]
join_data.isnull().any(axis=0)
join_data.head(20)

                 ap_timestamp               mp_timestamp  ... len_ap len_mp
0  2020-12-14 04:53:20.216931 2020-12-14 04:53:21.242887  ...  128.0  128.0
1  2020-12-14 04:53:20.216931 2020-12-14 04:53:21.247340  ...  128.0  128.0
2  2020-12-14 04:53:20.216931 2020-12-14 04:53:22.215996  ...  128.0  128.0
3  2020-12-14 04:53:20.216931 2020-12-14 04:53:22.236645  ...  128.0  128.0
4  2020-12-14 04:53:20.216931 2020-12-14 04:53:22.242579  ...  128.0  384.0
5  2020-12-14 04:53:20.216931 2020-12-14 04:53:22.246001  ...  128.0  384.0
6  2020-12-14 04:53:20.216931 2020-12-14 04:53:22.249947  ...  128.0  384.0
7  2020-12-14 04:53:20.216931 2020-12-14 04:53:22.253548  ...  128.0  384.0
8  2020-12-14 04:53:20.216931 2020-12-14 04:53:22.301521  ...  128.0  384.0
9  2020-12-14 04:53:20.216931 2020-12-14 04:53:22.303035  ...  128.0  384.0
10 2020-12-14 04:53:20.216931 2020-12-14 04:53:22.305545  ...  128.0  384.0
11 2020-12-14 04:53:20.216931 2020-12-14 04:53:22.308999  ...  128.0  384.0
12 2020-12-14 04:53:20.216931 2020-12-14 04:53:22.312279  ...  128.0  384.0
13 2020-12-14 04:53:22.326009 2020-12-14 04:53:22.342908  ...  128.0  384.0
14 2020-12-14 04:53:22.326009 2020-12-14 04:53:22.346138  ...  128.0  384.0
15 2020-12-14 04:53:22.347310 2020-12-14 04:53:22.349545  ...  384.0  384.0
16 2020-12-14 04:53:22.350753 2020-12-14 04:53:22.353263  ...  384.0  384.0
17 2020-12-14 04:53:22.355307 2020-12-14 04:53:22.356855  ...  384.0  384.0
18 2020-12-14 04:53:22.359272 2020-12-14 04:53:22.360466  ...  384.0  384.0
19 2020-12-14 04:53:22.363069 2020-12-14 04:53:22.363746  ...  384.0  384.0

[20 rows x 6 columns]

In [ ]:
#print(join_data['CSI_ap'].dtypes,type(join_data['CSI_ap'].iloc[0]))
print(join_data['CSI_ap'].iloc[0][1:-2])

46 -32 2 0 -23 6 -21 9 -23 15 -24 16 -26 18 -21 16 -18 16 -22 12 -19 8 -12 5 -14 2 -11 -1 -9 5 -5 -3 -4 -3 -2 -8 8 -9 2 -15 4 -11 13 -15 6 -10 13 -18 14 -10 18 -15 19 -19 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 17 4 4 -1 7 2 20 6 17 2 17 -2 8 2 7 10 4 6 -1 10 -4 6 -12 1 -13 0 -19 -4 -24 -13 -20 -11 -18 -9 -18 -15 -22 -14 -23 -8 -24 -12 -28 -8 -26 -7 -32 -7 -22 -5 -20 -3

In [ ]:
join_data['CSI_ap_int'] = join_data['CSI_ap'][1:-2]
join_data['CSI_ap_int'].iloc[100]

'[84 -64 4 0 0 0 0 0 0 0 0 0 17 2 18 2 16 2 17 1 17 2 17 3 16 3 16 3 15 4 14 4 15 5 14 5 12 4 11 4 11 5 10 4 9 3 8 2 7 2 6 0 6 -1 5 -2 5 -3 4 -4 4 -5 5 -6 0 0 5 -7 5 -7 4 -8 4 -8 4 -8 3 -9 4 -8 3 -9 3 -10 2 -10 2 -11 2 -10 2 -10 2 -10 2 -10 2 -10 2 -10 2 -9 2 -9 2 -8 2 -8 1 -8 0 -7 1 -7 1 -8 1 -7 0 0 0 0 0 0 0 0 0 0 ]'

In [ ]:
join_data['CSI_ap_arr'] = join_data['CSI_ap'].apply(lambda x: str(x)[1:-2].split(" "))

In [ ]:
join_data['CSI_ap_arr'].head(20)

0     [46, -32, 2, 0, -23, 6, -21, 9, -23, 15, -24, ...
1     [46, -32, 2, 0, -23, 6, -21, 9, -23, 15, -24, ...
2     [46, -32, 2, 0, -23, 6, -21, 9, -23, 15, -24, ...
3     [46, -32, 2, 0, -23, 6, -21, 9, -23, 15, -24, ...
4     [46, -32, 2, 0, -23, 6, -21, 9, -23, 15, -24, ...
5     [46, -32, 2, 0, -23, 6, -21, 9, -23, 15, -24, ...
6     [46, -32, 2, 0, -23, 6, -21, 9, -23, 15, -24, ...
7     [46, -32, 2, 0, -23, 6, -21, 9, -23, 15, -24, ...
8     [46, -32, 2, 0, -23, 6, -21, 9, -23, 15, -24, ...
9     [46, -32, 2, 0, -23, 6, -21, 9, -23, 15, -24, ...
10    [46, -32, 2, 0, -23, 6, -21, 9, -23, 15, -24, ...
11    [46, -32, 2, 0, -23, 6, -21, 9, -23, 15, -24, ...
12    [46, -32, 2, 0, -23, 6, -21, 9, -23, 15, -24, ...
13    [37, 80, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 24, 9, ...
14    [37, 80, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 24, 9, ...
15    [84, -64, 4, 0, 0, 0, 0, 0, 0, 0, 0, 0, -4, -1...
16    [84, -64, 4, 0, 0, 0, 0, 0, 0, 0, 0, 0, -4, -1...
17    [84, -64, 4, 0, 0, 0, 0, 0, 0, 0, 0, 0, 9, -8,...
18    [84, -64, 4, 0, 0, 0, 0, 0, 0, 0, 0, 0, 9, -8,...
19    [84, -64, 4, 0, 0, 0, 0, 0, 0, 0, 0, 0, 4, 9, ...
Name: CSI_ap_arr, dtype: object

In [ ]:
#could not convert string to float: '-' エラーがあったので、"-"どこにあるか探してみる,他の異常値の場合も、ここでフィルタ処理

for i,each in enumerate(join_data['CSI_ap_arr']):
  if "-" in each:
    print(i)
    print(join_data['CSI_ap_arr'].iloc[i])
    tar_arr=join_data['CSI_ap_arr'].iloc[i]
    for j,ele in enumerate(tar_arr):
      if ele=="-":
        print("found!! - at", j,"-th element")
        tar_arr[j] = "0"#"-"を"0"に変更
        print(tar_arr)
        join_data['CSI_ap_arr'].iloc[i]=tar_arr[j]

In [ ]:
join_data['CSI_ap_arr_int']=join_data['CSI_ap_arr'].apply(lambda x: np.array(x).astype(np.float))

In [ ]:
join_data['CSI_ap_arr_int'].head(20)

0     [46.0, -32.0, 2.0, 0.0, -23.0, 6.0, -21.0, 9.0...
1     [46.0, -32.0, 2.0, 0.0, -23.0, 6.0, -21.0, 9.0...
2     [46.0, -32.0, 2.0, 0.0, -23.0, 6.0, -21.0, 9.0...
3     [46.0, -32.0, 2.0, 0.0, -23.0, 6.0, -21.0, 9.0...
4     [46.0, -32.0, 2.0, 0.0, -23.0, 6.0, -21.0, 9.0...
5     [46.0, -32.0, 2.0, 0.0, -23.0, 6.0, -21.0, 9.0...
6     [46.0, -32.0, 2.0, 0.0, -23.0, 6.0, -21.0, 9.0...
7     [46.0, -32.0, 2.0, 0.0, -23.0, 6.0, -21.0, 9.0...
8     [46.0, -32.0, 2.0, 0.0, -23.0, 6.0, -21.0, 9.0...
9     [46.0, -32.0, 2.0, 0.0, -23.0, 6.0, -21.0, 9.0...
10    [46.0, -32.0, 2.0, 0.0, -23.0, 6.0, -21.0, 9.0...
11    [46.0, -32.0, 2.0, 0.0, -23.0, 6.0, -21.0, 9.0...
12    [46.0, -32.0, 2.0, 0.0, -23.0, 6.0, -21.0, 9.0...
13    [37.0, 80.0, 2.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0...
14    [37.0, 80.0, 2.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0...
15    [84.0, -64.0, 4.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0....
16    [84.0, -64.0, 4.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0....
17    [84.0, -64.0, 4.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0....
18    [84.0, -64.0, 4.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0....
19    [84.0, -64.0, 4.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0....
Name: CSI_ap_arr_int, dtype: object

In [ ]:
join_data['CSI_ap_arr_mean']=join_data['CSI_ap_arr_int'].apply(lambda x:np.mean(x))
join_data['CSI_ap_arr_max']=join_data['CSI_ap_arr_int'].apply(lambda x:np.max(x))
join_data['CSI_ap_arr_min']=join_data['CSI_ap_arr_int'].apply(lambda x:np.min(x))

In [ ]:
join_data.head(20)

                 ap_timestamp  ... CSI_ap_arr_min
0  2020-12-14 04:53:20.216931  ...          -32.0
1  2020-12-14 04:53:20.216931  ...          -32.0
2  2020-12-14 04:53:20.216931  ...          -32.0
3  2020-12-14 04:53:20.216931  ...          -32.0
4  2020-12-14 04:53:20.216931  ...          -32.0
5  2020-12-14 04:53:20.216931  ...          -32.0
6  2020-12-14 04:53:20.216931  ...          -32.0
7  2020-12-14 04:53:20.216931  ...          -32.0
8  2020-12-14 04:53:20.216931  ...          -32.0
9  2020-12-14 04:53:20.216931  ...          -32.0
10 2020-12-14 04:53:20.216931  ...          -32.0
11 2020-12-14 04:53:20.216931  ...          -32.0
12 2020-12-14 04:53:20.216931  ...          -32.0
13 2020-12-14 04:53:22.326009  ...          -14.0
14 2020-12-14 04:53:22.326009  ...          -14.0
15 2020-12-14 04:53:22.347310  ...          -64.0
16 2020-12-14 04:53:22.350753  ...          -64.0
17 2020-12-14 04:53:22.355307  ...          -64.0
18 2020-12-14 04:53:22.359272  ...          -64.0
19 2020-12-14 04:53:22.363069  ...          -64.0

[20 rows x 12 columns]

In [ ]:
join_data[['CSI_ap_arr_mean','CSI_ap_arr_max','CSI_ap_arr_min']].head(20)

    CSI_ap_arr_mean  CSI_ap_arr_max  CSI_ap_arr_min
0         -3.476562            46.0           -32.0
1         -3.476562            46.0           -32.0
2         -3.476562            46.0           -32.0
3         -3.476562            46.0           -32.0
4         -3.476562            46.0           -32.0
5         -3.476562            46.0           -32.0
6         -3.476562            46.0           -32.0
7         -3.476562            46.0           -32.0
8         -3.476562            46.0           -32.0
9         -3.476562            46.0           -32.0
10        -3.476562            46.0           -32.0
11        -3.476562            46.0           -32.0
12        -3.476562            46.0           -32.0
13         7.906250            80.0           -14.0
14         7.906250            80.0           -14.0
15        -3.820312            84.0           -64.0
16        -3.820312            84.0           -64.0
17        -4.843750            84.0           -64.0
18        -4.843750            84.0           -64.0
19         1.898438            84.0           -64.0

In [ ]:
print("csiの統計ーーーー")
print("重複を除き、csi平均値個数:",len(join_data['CSI_ap_arr_mean'].unique()),"個、値のリスト：",join_data['CSI_ap_arr_mean'].unique())
print("重複を除き、csi最大値個数:",len(join_data['CSI_ap_arr_max'].unique()),"個、値のリスト：",join_data['CSI_ap_arr_max'].unique())
print("重複を除き、csi最小値個数:",len(join_data['CSI_ap_arr_min'].unique()),"個、値のリスト：",join_data['CSI_ap_arr_min'].unique())

csiの統計ーーーー
重複を除き、csi平均値個数: 3025 個、値のリスト： [ -3.4765625   7.90625    -3.8203125 ... -12.2265625  19.421875
 -11.203125 ]
重複を除き、csi最大値個数: 24 個、値のリスト： [ 46.  80.  84.  82. 102.  98.  99. 101.  85. 125.  95.  87. 116.  61.
  90.  94.  93. 108.  92. 114. 115.   0.  88. 104.]
重複を除き、csi最小値個数: 39 個、値のリスト： [ -32.  -14.  -64.  -96.  -98.  -76.  -72.  -87.  -79.  -94.  -66. -119.
  -97.  -85.  -68.  -65.  -70.  -78.  -99.  -77.  -69.  -82.  -71. -112.
  -67.  -48.  -38.  -90. -105.  -73. -116. -121.  -83. -110.  -84.  -81.
 -108.  -75.    0.]