In [1]:
import numpy as np
import pandas as pd
import datetime
import codecs

 dtype={'CSI_DATA': int}
 dtype={'CSI_DATA': int}

In [2]:
with codecs.open("minato6-ap-my-experiment-file.csv", "r", "Shift-JIS", "ignore") as file:
    minato6ap = pd.read_csv(file, delimiter=",", error_bad_lines=False,)
minato6ap = minato6ap.dropna()
minato6ap['datetime_timestamp'] = list(map(datetime.datetime.fromtimestamp, minato6ap.timestamp))

minato6mp = pd.read_csv('minato6-mp-my-experiment-file.csv', error_bad_lines=False, )
minato6mp = minato6mp.dropna()
minato6mp["datetime_timestamp"] = list(map(datetime.datetime.fromtimestamp, minato6mp.timestamp))

b'Skipping line 55443: expected 27 fields, saw 52\n'
b'Skipping line 238418: expected 27 fields, saw 54\nSkipping line 245263: expected 27 fields, saw 52\n'
b'Skipping line 262727: expected 27 fields, saw 47\nSkipping line 266444: expected 27 fields, saw 52\nSkipping line 266464: expected 27 fields, saw 52\nSkipping line 266523: expected 27 fields, saw 52\nSkipping line 268624: expected 27 fields, saw 52\nSkipping line 271180: expected 27 fields, saw 52\n'
/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:3072: DtypeWarning: Columns (4,23) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
b'Skipping line 27145: expected 27 fields, saw 52\n'
b'Skipping line 332679: expected 27 fields, saw 52\n'
/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:3072: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
minato6ap.head()

,type,role,mac,rssi,rate,sig_mode,mcs,bandwidth,smoothing,not_sounding,...,local_timestamp,ant,sig_len,rx_state,real_time_set,real_timestamp,len,CSI_DATA,timestamp,datetime_timestamp
0,CSI_DATA,AP,DA:A1:19:B8:FE:4C,-88,11,0.0,0.0,0.0,0.0,0.0,...,362861471.0,0.0,46.0,0.0,0.0,363.972,128.0,[46 -32 2 0 -14 -15 -12 -6 -8 -20 -2 -18 -8 -1...,1.607921e+09,2020-12-14 13:49:46.896088
1,CSI_DATA,AP,DA:A1:19:F7:24:DD,-85,11,0.0,0.0,0.0,0.0,0.0,...,409033398.0,0.0,46.0,0.0,0.0,409.269,128.0,[46 -32 2 0 19 -30 28 -33 26 -35 28 -30 24 -32...,1.607921e+09,2020-12-14 13:50:33.066136
2,CSI_DATA,AP,DA:A1:19:AC:71:57,-86,11,0.0,0.0,0.0,0.0,0.0,...,417408625.0,0.0,46.0,0.0,0.0,417.644,128.0,[46 -32 2 0 6 23 2 25 0 23 4 24 0 24 2 17 10 1...,1.607921e+09,2020-12-14 13:50:41.440723
3,CSI_DATA,AP,DA:A1:19:28:EE:96,-88,11,0.0,0.0,0.0,0.0,0.0,...,440465042.0,0.0,46.0,0.0,0.0,440.701,128.0,[46 -32 2 0 6 -26 3 -26 1 -27 -5 -20 5 -25 1 -...,1.607921e+09,2020-12-14 13:51:04.496528
4,CSI_DATA,AP,DA:A1:19:0C:74:A5,-80,11,0.0,0.0,0.0,0.0,0.0,...,450067156.0,0.0,46.0,0.0,0.0,450.303,128.0,[46 -32 2 0 1 -11 -2 -13 -2 -15 -7 -13 -8 -17 ...,1.607921e+09,2020-12-14 13:51:14.098921

In [4]:
minato6ap.tail()

,type,role,mac,rssi,rate,sig_mode,mcs,bandwidth,smoothing,not_sounding,...,local_timestamp,ant,sig_len,rx_state,real_time_set,real_timestamp,len,CSI_DATA,timestamp,datetime_timestamp
273969,CSI_DATA,AP,3C:71:BF:9A:03:E0,-54,11,1.0,1.0,1.0,1.0,1.0,...,955830675.0,0.0,84.0,0.0,0.0,5251.54,384.0,[84 -64 4 0 0 0 0 0 0 0 0 0 20 15 20 15 19 15 ...,1.607926e+09,2020-12-14 15:11:14.832194
273970,CSI_DATA,AP,3C:71:BF:9A:03:E0,-52,11,0.0,0.0,0.0,0.0,0.0,...,955835589.0,0.0,84.0,0.0,0.0,5251.57,128.0,[84 -64 4 0 0 0 0 0 0 0 0 0 25 11 24 12 24 13 ...,1.607926e+09,2020-12-14 15:11:14.835263
273971,CSI_DATA,AP,3C:71:BF:9A:03:E0,-54,11,1.0,1.0,1.0,1.0,1.0,...,955836790.0,0.0,84.0,0.0,0.0,5251.61,384.0,[84 -64 4 0 0 0 0 0 0 0 0 0 14 20 13 20 13 19 ...,1.607926e+09,2020-12-14 15:11:14.841395
273972,CSI_DATA,AP,3C:71:BF:9A:03:E0,-55,11,1.0,1.0,1.0,1.0,1.0,...,955845930.0,0.0,84.0,0.0,0.0,5251.65,384.0,[84 -64 4 0 0 0 0 0 0 0 0 0 22 8 21 9 20 8 20 ...,1.607926e+09,2020-12-14 15:11:14.844131
273973,CSI_DATA,AP,3C:71:BF:9A:03:E0,-53,11,0.0,0.0,0.0,0.0,0.0,...,955848103.0,0.0,84.0,0.0,0.0,5251.69,128.0,[84 -64 4 0 0 0 0 0 0 0 0 0 -22 19 -23 17 -23 ...,1.607926e+09,2020-12-14 15:12:59.061302

In [5]:
minato6mp.head()

,type,role,mac,rssi,rate,sig_mode,mcs,bandwidth,smoothing,not_sounding,...,local_timestamp,ant,sig_len,rx_state,real_time_set,real_timestamp,len,CSI_DATA,timestamp,datetime_timestamp
0,CSI_DATA,STA,3C:71:BF:9A:20:D1,-62.0,11.0,0.0,0.0,0,0.0,0.0,...,142868.0,0.0,131.0,0.0,0.0,0.357351,128.0,[-125 48 8 0 0 0 0 0 0 0 0 0 -21 -27 -20 -28 -...,1.607922e+09,2020-12-14 13:53:21.242887
1,CSI_DATA,STA,3C:71:BF:9A:20:D1,-62.0,11.0,0.0,0.0,0,0.0,0.0,...,143366.0,0.0,131.0,0.0,0.0,0.361420,128.0,[-125 48 8 0 0 0 0 0 0 0 0 0 -11 36 -13 35 -11...,1.607922e+09,2020-12-14 13:53:21.247340
2,CSI_DATA,STA,3C:71:BF:9A:20:D1,-63.0,11.0,0.0,0.0,0,0.0,0.0,...,1115001.0,0.0,37.0,0.0,0.0,1.329599,128.0,[37 80 2 0 0 0 0 0 0 0 0 0 -16 -14 -18 -15 -13...,1.607922e+09,2020-12-14 13:53:22.215996
3,CSI_DATA,STA,3C:71:BF:9A:20:D1,-65.0,11.0,0.0,0.0,0,0.0,0.0,...,1136428.0,0.0,37.0,0.0,0.0,1.350757,128.0,[37 80 2 0 0 0 0 0 0 0 0 0 -12 -18 -11 -19 -11...,1.607922e+09,2020-12-14 13:53:22.236645
4,CSI_DATA,STA,3C:71:BF:9A:20:D1,-71.0,11.0,1.0,3.0,1,1.0,1.0,...,1143347.0,0.0,110.0,0.0,0.0,1.357629,384.0,[110 96 6 0 0 0 0 0 0 0 0 0 -7 12 -7 12 -7 12 ...,1.607922e+09,2020-12-14 13:53:22.242579

In [6]:
minato6mp.tail()

,type,role,mac,rssi,rate,sig_mode,mcs,bandwidth,smoothing,not_sounding,...,local_timestamp,ant,sig_len,rx_state,real_time_set,real_timestamp,len,CSI_DATA,timestamp,datetime_timestamp
358565,CSI_DATA,STA,3C:71:BF:9A:20:D1,-43.0,11.0,1.0,2.0,1,1.0,1.0,...,454170281.0,0.0,110.0,0.0,0.0,4749.355788,384.0,[110 96 6 0 0 0 0 0 0 0 0 0 -16 -7 -16 -7 -16 ...,1.607926e+09,2020-12-14 15:12:30.297810
358566,CSI_DATA,STA,3C:71:BF:9A:20:D1,-41.0,11.0,1.0,2.0,0,1.0,1.0,...,454187172.0,0.0,110.0,0.0,0.0,4749.368482,256.0,[110 96 6 0 0 0 0 0 0 0 0 0 4 -20 5 -19 4 -20 ...,1.607926e+09,2020-12-14 15:12:30.310260
358567,CSI_DATA,STA,3C:71:BF:9A:20:D1,-42.0,11.0,1.0,2.0,1,1.0,1.0,...,454192867.0,0.0,110.0,0.0,0.0,4749.374112,384.0,[110 96 6 0 0 0 0 0 0 0 0 0 -1 14 0 14 -1 13 -...,1.607926e+09,2020-12-14 15:12:30.315842
358568,CSI_DATA,STA,3C:71:BF:9A:20:D1,-42.0,11.0,1.0,2.0,1,1.0,1.0,...,454197350.0,0.0,110.0,0.0,0.0,4749.379222,384.0,[110 96 6 0 0 0 0 0 0 0 0 0 -6 14 -6 13 -6 14 ...,1.607926e+09,2020-12-14 15:12:30.320942
358569,CSI_DATA,STA,3C:71:BF:9A:20:D1,-41.0,11.0,1.0,2.0,0,1.0,1.0,...,454201169.0,0.0,110.0,0.0,0.0,4749.382987,256.0,[110 96 6 0 0 0 0 0 0 0 0 0 16 -9 17 -8 17 -8 ...,1.607926e+09,2020-12-14 15:12:30.324827

In [7]:
len(minato6ap)

273972

In [8]:
len(minato6mp)

358567

13:56 22933 
13:57 27048
13:59 39203

14:00 45479
47682
49889
14:01  52383
53730
55192
56851
14:03 65382
16:08 87389
１４：４５　２００９２２
１４：５０　230637
14:55 260027
15:00 281502
15:02 290055
15:03 293543
15:04 302905
15:09 337340

14:02 16人
14:07 23人
14:10 23人
14:15 28人
14:20 29人 
14:25 24人
14:30 19 人
14:35 18人
14:40 17人
14'45 21人
14:50 20人
14:55 29人
15:00 27人

15:01 - 上に持っていく
15:05 22 人
15:10 20人

終了

In [9]:
minato6ap.columns

Index(['type', 'role', 'mac', 'rssi', 'rate', 'sig_mode', 'mcs', 'bandwidth',
       'smoothing', 'not_sounding', 'aggregation', 'stbc', 'fec_coding', 'sgi',
       'noise_floor', 'ampdu_cnt', 'channel', 'secondary_channel',
       'local_timestamp', 'ant', 'sig_len', 'rx_state', 'real_time_set',
       'real_timestamp', 'len', 'CSI_DATA', 'timestamp', 'datetime_timestamp'],
      dtype='object')

In [10]:
minato6ap.dtypes

type                          object
role                          object
mac                           object
rssi                           int64
rate                          object
sig_mode                     float64
mcs                          float64
bandwidth                    float64
smoothing                    float64
not_sounding                 float64
aggregation                  float64
stbc                         float64
fec_coding                   float64
sgi                          float64
noise_floor                  float64
ampdu_cnt                    float64
channel                      float64
secondary_channel            float64
local_timestamp              float64
ant                          float64
sig_len                      float64
rx_state                     float64
real_time_set                float64
real_timestamp                object
len                          float64
CSI_DATA                      object
timestamp                    float64
datetime_timestamp    datetime64[ns]
dtype: object

In [11]:
ap = minato6ap[['datetime_timestamp','CSI_DATA','len']]
mp = minato6mp[['datetime_timestamp','CSI_DATA','len']]
ap_timestamp = ap['datetime_timestamp'].to_numpy()
mp_timestamp = mp['datetime_timestamp'].to_numpy()

In [12]:
ap.dtypes

datetime_timestamp    datetime64[ns]
CSI_DATA                      object
len                          float64
dtype: object

In [13]:
mp.dtypes

datetime_timestamp    datetime64[ns]
CSI_DATA                      object
len                          float64
dtype: object

In [14]:
idx = np.searchsorted(ap_timestamp, mp_timestamp) - 1
mask = idx >= 0

df = pd.DataFrame({"ap_timestamp":ap_timestamp[idx][mask], "mp_timestamp":mp_timestamp[mask]})

In [15]:
#idx = np.searchsorted(mp_timestamp, ap_timestamp)
#mask = idx >= 0

#df = pd.DataFrame({"mp_timestamp":mp_timestamp[idx], "ap_timestamp":ap_timestamp})

In [16]:
#df = pd.DataFrame({"mp_timestamp":mp_timestamp[idx], "ap_timestamp":ap_timestamp})

In [17]:
df.head()

                ap_timestamp               mp_timestamp
0 2020-12-14 13:53:20.216931 2020-12-14 13:53:21.242887
1 2020-12-14 13:53:20.216931 2020-12-14 13:53:21.247340
2 2020-12-14 13:53:20.216931 2020-12-14 13:53:22.215996
3 2020-12-14 13:53:20.216931 2020-12-14 13:53:22.236645
4 2020-12-14 13:53:20.216931 2020-12-14 13:53:22.242579

In [18]:
df.tail()

                     ap_timestamp               mp_timestamp
358562 2020-12-14 15:11:14.844131 2020-12-14 15:12:30.297810
358563 2020-12-14 15:11:14.844131 2020-12-14 15:12:30.310260
358564 2020-12-14 15:11:14.844131 2020-12-14 15:12:30.315842
358565 2020-12-14 15:11:14.844131 2020-12-14 15:12:30.320942
358566 2020-12-14 15:11:14.844131 2020-12-14 15:12:30.324827

timestampが14:02 - 15:10 のもの以外は消す
15:00 - 15:10 のものは分ける。

In [19]:
df

                     ap_timestamp               mp_timestamp
0      2020-12-14 13:53:20.216931 2020-12-14 13:53:21.242887
1      2020-12-14 13:53:20.216931 2020-12-14 13:53:21.247340
2      2020-12-14 13:53:20.216931 2020-12-14 13:53:22.215996
3      2020-12-14 13:53:20.216931 2020-12-14 13:53:22.236645
4      2020-12-14 13:53:20.216931 2020-12-14 13:53:22.242579
...                           ...                        ...
358562 2020-12-14 15:11:14.844131 2020-12-14 15:12:30.297810
358563 2020-12-14 15:11:14.844131 2020-12-14 15:12:30.310260
358564 2020-12-14 15:11:14.844131 2020-12-14 15:12:30.315842
358565 2020-12-14 15:11:14.844131 2020-12-14 15:12:30.320942
358566 2020-12-14 15:11:14.844131 2020-12-14 15:12:30.324827

[358567 rows x 2 columns]

In [20]:
ap.columns = ['ap_timestamp', 'CSI_ap','len_ap']
mp.columns = ['mp_timestamp', 'CSI_mp','len_mp']

In [21]:
join_data_1 = pd.merge(df, ap, on='ap_timestamp', how='left')

In [22]:
join_data_2 = pd.merge(join_data_1, mp, on='mp_timestamp', how='left')

In [23]:
join_data = join_data_2[['ap_timestamp', 'mp_timestamp', 'CSI_ap','CSI_mp','len_ap','len_mp',]]

In [24]:
join_data.isnull().any(axis=0)

ap_timestamp    False
mp_timestamp    False
CSI_ap          False
CSI_mp          False
len_ap          False
len_mp          False
dtype: bool

In [25]:
join_data

,ap_timestamp,mp_timestamp,CSI_ap,CSI_mp,len_ap,len_mp
0,2020-12-14 13:53:20.216931,2020-12-14 13:53:21.242887,[46 -32 2 0 -23 6 -21 9 -23 15 -24 16 -26 18 -...,[-125 48 8 0 0 0 0 0 0 0 0 0 -21 -27 -20 -28 -...,128.0,128.0
1,2020-12-14 13:53:20.216931,2020-12-14 13:53:21.247340,[46 -32 2 0 -23 6 -21 9 -23 15 -24 16 -26 18 -...,[-125 48 8 0 0 0 0 0 0 0 0 0 -11 36 -13 35 -11...,128.0,128.0
2,2020-12-14 13:53:20.216931,2020-12-14 13:53:22.215996,[46 -32 2 0 -23 6 -21 9 -23 15 -24 16 -26 18 -...,[37 80 2 0 0 0 0 0 0 0 0 0 -16 -14 -18 -15 -13...,128.0,128.0
3,2020-12-14 13:53:20.216931,2020-12-14 13:53:22.236645,[46 -32 2 0 -23 6 -21 9 -23 15 -24 16 -26 18 -...,[37 80 2 0 0 0 0 0 0 0 0 0 -12 -18 -11 -19 -11...,128.0,128.0
4,2020-12-14 13:53:20.216931,2020-12-14 13:53:22.242579,[46 -32 2 0 -23 6 -21 9 -23 15 -24 16 -26 18 -...,[110 96 6 0 0 0 0 0 0 0 0 0 -7 12 -7 12 -7 12 ...,128.0,384.0
...,...,...,...,...,...,...
358562,2020-12-14 15:11:14.844131,2020-12-14 15:12:30.297810,[84 -64 4 0 0 0 0 0 0 0 0 0 22 8 21 9 20 8 20 ...,[110 96 6 0 0 0 0 0 0 0 0 0 -16 -7 -16 -7 -16 ...,384.0,384.0
358563,2020-12-14 15:11:14.844131,2020-12-14 15:12:30.310260,[84 -64 4 0 0 0 0 0 0 0 0 0 22 8 21 9 20 8 20 ...,[110 96 6 0 0 0 0 0 0 0 0 0 4 -20 5 -19 4 -20 ...,384.0,256.0
358564,2020-12-14 15:11:14.844131,2020-12-14 15:12:30.315842,[84 -64 4 0 0 0 0 0 0 0 0 0 22 8 21 9 20 8 20 ...,[110 96 6 0 0 0 0 0 0 0 0 0 -1 14 0 14 -1 13 -...,384.0,384.0
358565,2020-12-14 15:11:14.844131,2020-12-14 15:12:30.320942,[84 -64 4 0 0 0 0 0 0 0 0 0 22 8 21 9 20 8 20 ...,[110 96 6 0 0 0 0 0 0 0 0 0 -6 14 -6 13 -6 14 ...,384.0,384.0
358566,2020-12-14 15:11:14.844131,2020-12-14 15:12:30.324827,[84 -64 4 0 0 0 0 0 0 0 0 0 22 8 21 9 20 8 20 ...,[110 96 6 0 0 0 0 0 0 0 0 0 16 -9 17 -8 17 -8 ...,384.0,256.0

In [26]:
join_data.describe()

              len_ap         len_mp
count  358567.000000  358567.000000
mean      328.811430     320.004105
std       104.458768     107.149546
min       128.000000     128.000000
25%       384.000000     256.000000
50%       384.000000     384.000000
75%       384.000000     384.000000
max       384.000000     384.000000

In [27]:
join_data['CSI_ap'].dtypes

dtype('O')

In [31]:
join_data['CSI_ap_int22'] = join_data['CSI_ap'].str.split()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [36]:
join_data.loc[: , 'CSI_ap_int22'].iloc[0]

['[46',
 '-32',
 '2',
 '0',
 '-23',
 '6',
 '-21',
 '9',
 '-23',
 '15',
 '-24',
 '16',
 '-26',
 '18',
 '-21',
 '16',
 '-18',
 '16',
 '-22',
 '12',
 '-19',
 '8',
 '-12',
 '5',
 '-14',
 '2',
 '-11',
 '-1',
 '-9',
 '5',
 '-5',
 '-3',
 '-4',
 '-3',
 '-2',
 '-8',
 '8',
 '-9',
 '2',
 '-15',
 '4',
 '-11',
 '13',
 '-15',
 '6',
 '-10',
 '13',
 '-18',
 '14',
 '-10',
 '18',
 '-15',
 '19',
 '-19',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '17',
 '4',
 '4',
 '-1',
 '7',
 '2',
 '20',
 '6',
 '17',
 '2',
 '17',
 '-2',
 '8',
 '2',
 '7',
 '10',
 '4',
 '6',
 '-1',
 '10',
 '-4',
 '6',
 '-12',
 '1',
 '-13',
 '0',
 '-19',
 '-4',
 '-24',
 '-13',
 '-20',
 '-11',
 '-18',
 '-9',
 '-18',
 '-15',
 '-22',
 '-14',
 '-23',
 '-8',
 '-24',
 '-12',
 '-28',
 '-8',
 '-26',
 '-7',
 '-32',
 '-7',
 '-22',
 '-5',
 '-20',
 '-3',
 ']']

[ と] が入ってしまってるからだめやな

In [37]:
join_data['CSI_ap_int1'] = join_data['CSI_ap'].str.replace('[', '')

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [38]:
join_data['CSI_ap_int2'] = join_data['CSI_ap_int1'].str.replace(']', '')

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [39]:
join_data['CSI_ap_int22'] = join_data['CSI_ap_int2'].str.split()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [40]:
join_data.loc[: , 'CSI_ap_int22'].iloc[0]

['46',
 '-32',
 '2',
 '0',
 '-23',
 '6',
 '-21',
 '9',
 '-23',
 '15',
 '-24',
 '16',
 '-26',
 '18',
 '-21',
 '16',
 '-18',
 '16',
 '-22',
 '12',
 '-19',
 '8',
 '-12',
 '5',
 '-14',
 '2',
 '-11',
 '-1',
 '-9',
 '5',
 '-5',
 '-3',
 '-4',
 '-3',
 '-2',
 '-8',
 '8',
 '-9',
 '2',
 '-15',
 '4',
 '-11',
 '13',
 '-15',
 '6',
 '-10',
 '13',
 '-18',
 '14',
 '-10',
 '18',
 '-15',
 '19',
 '-19',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '17',
 '4',
 '4',
 '-1',
 '7',
 '2',
 '20',
 '6',
 '17',
 '2',
 '17',
 '-2',
 '8',
 '2',
 '7',
 '10',
 '4',
 '6',
 '-1',
 '10',
 '-4',
 '6',
 '-12',
 '1',
 '-13',
 '0',
 '-19',
 '-4',
 '-24',
 '-13',
 '-20',
 '-11',
 '-18',
 '-9',
 '-18',
 '-15',
 '-22',
 '-14',
 '-23',
 '-8',
 '-24',
 '-12',
 '-28',
 '-8',
 '-26',
 '-7',
 '-32',
 '-7',
 '-22',
 '-5',
 '-20',
 '-3']

In [42]:
join_data.loc[0 , ['CSI_ap_int22']]

CSI_ap_int22    [46, -32, 2, 0, -23, 6, -21, 9, -23, 15, -24, ...
Name: 0, dtype: object

In [43]:
join_data.loc[: , 'CSI_ap_int22'].iloc[0]

AttributeError: 'list' object has no attribute 'astype'

-----------------

In [28]:
# join_data['CSI_ap'] = join_data['CSI_ap'].astype(float)

ValueError: could not convert string to float: '[46 -32 2 0 -23 6 -21 9 -23 15 -24 16 -26 18 -21 16 -18 16 -22 12 -19 8 -12 5 -14 2 -11 -1 -9 5 -5 -3 -4 -3 -2 -8 8 -9 2 -15 4 -11 13 -15 6 -10 13 -18 14 -10 18 -15 19 -19 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 17 4 4 -1 7 2 20 6 17 2 17 -2 8 2 7 10 4 6 -1 10 -4 6 -12 1 -13 0 -19 -4 -24 -13 -20 -11 -18 -9 -18 -15 -22 -14 -23 -8 -24 -12 -28 -8 -26 -7 -32 -7 -22 -5 -20 -3 ]'

In [29]:
# join_data['CSI_ap'] = [list(map(int, x)) for x in join_data['CSI_ap']]

ValueError: invalid literal for int() with base 10: '['

In [44]:
type(join_data['CSI_ap'].iloc[0])

str

In [45]:
join_data['CSI_ap'].iloc[0]

'[46 -32 2 0 -23 6 -21 9 -23 15 -24 16 -26 18 -21 16 -18 16 -22 12 -19 8 -12 5 -14 2 -11 -1 -9 5 -5 -3 -4 -3 -2 -8 8 -9 2 -15 4 -11 13 -15 6 -10 13 -18 14 -10 18 -15 19 -19 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 17 4 4 -1 7 2 20 6 17 2 17 -2 8 2 7 10 4 6 -1 10 -4 6 -12 1 -13 0 -19 -4 -24 -13 -20 -11 -18 -9 -18 -15 -22 -14 -23 -8 -24 -12 -28 -8 -26 -7 -32 -7 -22 -5 -20 -3 ]'

In [46]:
join_data['CSI_ap_int1'] = join_data['CSI_ap'].str.replace('[', '')

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [47]:
join_data['CSI_ap_int2'] = join_data['CSI_ap_int1'].str.replace(']', '')

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [48]:
join_data['CSI_ap_int2'].iloc[0]

'46 -32 2 0 -23 6 -21 9 -23 15 -24 16 -26 18 -21 16 -18 16 -22 12 -19 8 -12 5 -14 2 -11 -1 -9 5 -5 -3 -4 -3 -2 -8 8 -9 2 -15 4 -11 13 -15 6 -10 13 -18 14 -10 18 -15 19 -19 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 17 4 4 -1 7 2 20 6 17 2 17 -2 8 2 7 10 4 6 -1 10 -4 6 -12 1 -13 0 -19 -4 -24 -13 -20 -11 -18 -9 -18 -15 -22 -14 -23 -8 -24 -12 -28 -8 -26 -7 -32 -7 -22 -5 -20 -3 '

In [49]:
join_data['CSI_ap_int3'] = join_data['CSI_ap_int2'].str.replace(' ', ',')

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [50]:
join_data['CSI_ap_int3'].iloc[0]

'46,-32,2,0,-23,6,-21,9,-23,15,-24,16,-26,18,-21,16,-18,16,-22,12,-19,8,-12,5,-14,2,-11,-1,-9,5,-5,-3,-4,-3,-2,-8,8,-9,2,-15,4,-11,13,-15,6,-10,13,-18,14,-10,18,-15,19,-19,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,17,4,4,-1,7,2,20,6,17,2,17,-2,8,2,7,10,4,6,-1,10,-4,6,-12,1,-13,0,-19,-4,-24,-13,-20,-11,-18,-9,-18,-15,-22,-14,-23,-8,-24,-12,-28,-8,-26,-7,-32,-7,-22,-5,-20,-3,'

In [51]:
# join_data['CSI_ap_int4'] =

SyntaxError: invalid syntax (<ipython-input-51-322016d78d58>, line 1)

In [52]:
join_data['CSI_ap'].iloc[0]

'[46 -32 2 0 -23 6 -21 9 -23 15 -24 16 -26 18 -21 16 -18 16 -22 12 -19 8 -12 5 -14 2 -11 -1 -9 5 -5 -3 -4 -3 -2 -8 8 -9 2 -15 4 -11 13 -15 6 -10 13 -18 14 -10 18 -15 19 -19 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 17 4 4 -1 7 2 20 6 17 2 17 -2 8 2 7 10 4 6 -1 10 -4 6 -12 1 -13 0 -19 -4 -24 -13 -20 -11 -18 -9 -18 -15 -22 -14 -23 -8 -24 -12 -28 -8 -26 -7 -32 -7 -22 -5 -20 -3 ]'

In [53]:
join_data['CSI_ap_int11'] = join_data['CSI_ap'].str.replace(' ', '','')

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [54]:
join_data['CSI_ap_int11'].iloc[0]

nan

だめ

In [55]:
join_data['CSI_ap'].iloc[0]

'[46 -32 2 0 -23 6 -21 9 -23 15 -24 16 -26 18 -21 16 -18 16 -22 12 -19 8 -12 5 -14 2 -11 -1 -9 5 -5 -3 -4 -3 -2 -8 8 -9 2 -15 4 -11 13 -15 6 -10 13 -18 14 -10 18 -15 19 -19 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 17 4 4 -1 7 2 20 6 17 2 17 -2 8 2 7 10 4 6 -1 10 -4 6 -12 1 -13 0 -19 -4 -24 -13 -20 -11 -18 -9 -18 -15 -22 -14 -23 -8 -24 -12 -28 -8 -26 -7 -32 -7 -22 -5 -20 -3 ]'

In [56]:
join_data['CSI_ap_int12'] = join_data['CSI_ap_int2'].str.replace(' ', '','')

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

だめ

In [57]:
join_data['CSI_ap_int12'].iloc[0]

nan

In [58]:
def is_int(s):
    try:
        int(s)
    except ValueError:
        return False
    else:
        return True

In [60]:
join_data['CSI_ap_int21'] =    [int(s) for s in join_data['CSI_ap_int3'] if is_int(s)]

ValueError: Length of values (0) does not match length of index (358567)

In [61]:
join_data['CSI_ap_int2'].str.isdecimal()

0         False
1         False
2         False
3         False
4         False
          ...
358562    False
358563    False
358564    False
358565    False
358566    False
Name: CSI_ap_int2, Length: 358567, dtype: bool

In [62]:
join_data['CSI_ap_int22'] = join_data['CSI_ap_int2'].str.split()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [63]:
join_data['CSI_ap_int22'].iloc[0]

['46',
 '-32',
 '2',
 '0',
 '-23',
 '6',
 '-21',
 '9',
 '-23',
 '15',
 '-24',
 '16',
 '-26',
 '18',
 '-21',
 '16',
 '-18',
 '16',
 '-22',
 '12',
 '-19',
 '8',
 '-12',
 '5',
 '-14',
 '2',
 '-11',
 '-1',
 '-9',
 '5',
 '-5',
 '-3',
 '-4',
 '-3',
 '-2',
 '-8',
 '8',
 '-9',
 '2',
 '-15',
 '4',
 '-11',
 '13',
 '-15',
 '6',
 '-10',
 '13',
 '-18',
 '14',
 '-10',
 '18',
 '-15',
 '19',
 '-19',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '17',
 '4',
 '4',
 '-1',
 '7',
 '2',
 '20',
 '6',
 '17',
 '2',
 '17',
 '-2',
 '8',
 '2',
 '7',
 '10',
 '4',
 '6',
 '-1',
 '10',
 '-4',
 '6',
 '-12',
 '1',
 '-13',
 '0',
 '-19',
 '-4',
 '-24',
 '-13',
 '-20',
 '-11',
 '-18',
 '-9',
 '-18',
 '-15',
 '-22',
 '-14',
 '-23',
 '-8',
 '-24',
 '-12',
 '-28',
 '-8',
 '-26',
 '-7',
 '-32',
 '-7',
 '-22',
 '-5',
 '-20',
 '-3']

In [64]:
join_data['CSI_ap_int22'].dtypes

dtype('O')

In [65]:
int(join_data['CSI_ap_int22'])

TypeError: cannot convert the series to <class 'int'>

In [66]:
join_data['CSI_ap_int22'].astype(int)

ValueError: setting an array element with a sequence.

In [ ]:
join_data['CSI_ap_int22'].to_numpy()

In [ ]:
join_data['CSI_ap_int22'].to_numpy().astype(np.int64)

In [ ]:
join_data['CSI_ap_int22'].iloc[0]

In [ ]:
join_data['CSI_ap_int22'].astype(np.int64)

In [ ]:
flg_is_serial = join_data['CSI_ap'].astype('str').str.isdigit()

In [ ]:
flg_is_serial.sum()

In [ ]:
 a = join_data['CSI_ap'].astype('int')

In [ ]:
join_data['CSI_ap'].astype(str).astype(int)

In [ ]:
join_data['CSI_ap'].astype(int)

In [ ]:
join_data['CSI_ap'].iloc[10]

In [ ]:
len(join_data['CSI_ap'].iloc[10])

In [ ]:
len(join_data['CSI_ap'].iloc[:])

In [ ]:
join_data['CSI_ap'] = int(join_data['CSI_ap'])

In [ ]:
len(join_data['CSI_ap'])

In [ ]:
mp_numpy = np.array(join_data['CSI_mp'])
type(ｍｐ_numpy)

In [ ]:
ap_numpy = np.array(join_data['CSI_ap'])
type(ap_numpy)

In [ ]:
mp_numpy.shape

In [ ]:
ap_numpy.shape

In [ ]:
H = mp_numpy * ap_numpy.T

In [ ]:
type(mp_numpy)